*,body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Century Gothic", sans-serif;
    text-align: center;
     }
     body{
    background-image: url("./images/img.png"); 
    background-repeat: no-repeat;
    background-size: cover;
     }
.main-container{
	color: darkgrey;
	text-align: center;
}
.main-container .inner-container{
	text-align: center;
	margin: 0 auto;
	max-width: 668px;
}
.main-container header{
	background-color: rgba(255,255,255,0.1);
	margin-bottom: 50px;
}

.main-container header ul{
	list-style: none;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}
.main-container header ul li{
	margin-right: 48px;
	display: inline-block;
	line-height: 40px;
}
.main-container header ul li a{
	color: white;
	text-decoration: none;
}
.main-container header ul li a:hover{
	color: blue;
}
.main-container header ul li:last-child{
	margin-right: 0;
}
.main-container .content{
	margin: 0;
}
.main-container .content .heading{
	text-align: left;
	margin: 0 auto;
	max-width: 560px;
	display: block;
}
.main-container .content .heading h1{
	font-size: 62px;
	color: white;
	font-weight: 400;	
}
.main-container .content .heading h3{
    font-size: 25px;
    margin-bottom: 50px;
    text-align: right;
}
.main-container .content h3 span{
	color: white;
}
.main-container .content h2{
    text-align: left;
    margin: 0 auto;
}
.main-container .content p{
	text-align: justify;
	margin-bottom: 30px;
}
.main-container footer ul{
	list-style: none;
	text-decoration: none;
	margin-bottom: 25px;	
}

.main-container footer ul li{
	margin-right: 48px;
	display: inline-block;
	line-height: 50px;
}
.main-container footer ul li:last-child{
	margin-right: 0;
}
.main-container footer ul li a{
	color: white;
	text-decoration: none;
}
.main-container footer ul li a:hover{
	color: blue;
}